body {
    background: var(--light);
    position: relative;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.page-title h3 {
    letter-spacing: 1px;
    font-size: 30px;
    color: var(--text-color);
    position: relative;
    text-transform: uppercase;
}
.page-title h3::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    width: 60%;
    height: 3px;
    bottom: -4px;
    border-radius: 5px;
}

.css-td {
    width: 450px;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: gray;
    padding-left: 10px;
    padding-right: 10px;
    border-collapse: collapse;
    border-bottom: 0.5px solid var(--dark-grey);

    
  }
  
.css-table {
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#css-table {
    border: 2px solid var(--dark-grey);
    height: calc(100% - 80px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 90%;
    border-spacing: 0;
}

#spacer-row {
    height: 20px;
}

.css-tr {
    background-color: white;
    transition: all 0.3s ease;
}
.css-tr:hover {
    background-color: hsl(350, 250%, 30%);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}


.css-header {
    position: sticky;
    top: 0;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    background: var(--grey);
    z-index: 100;
  }
  


#css-table #css-header-container {
    position: sticky;
    top: 0;
  }

.article-container{
    width: 1000px;
    height: auto; 
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 5%;
    /* margin-bottom: 5%; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 2%;
    border-radius: 10px;
   
    
}
.article-title{
    font-weight: 580;
    margin-bottom: 2%;
}
.article-date-published{
    font-size: .8rem;
    font-weight: 480;
    margin-bottom: 2%;
}
.article-container label{
    font-weight: 500;
}
.article-authors{
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 2%;

}
.download-cert-btn{
    background-color: #cf102d;
    color: white;
    border: none;
    width: 250px;
    text-align: center;
    padding: 10px;
    margin-top: 2%;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}
.download-cert-btn:hover{
    background-color: #ef3450;
}
.abstract-cont{
    font-size: .9rem;
    text-align: justify;
}

.filter-button {
    position: relative;
}

.filter-options {
    display: none;
    position: absolute;
    top: 100%;
    left: -180;
    width: 250px;
    background-color: #fefefe;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
    z-index: 4;
    padding: 15px;
}

.filter-options input[type='submit'] {
    display: block;
    margin: 0 auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.filter-options label {
    display: block;
    margin-bottom: 10px;
}

.campus-bsu {
    margin-left: 20px;
}


.sort-button {
    position: relative;
}

.sort-options {
    display: none;
    position: absolute;
    top: 100%;
    left: -70;
    width: 150px;
    background-color: #fefefe;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
    z-index: 4;
    padding: 15px;
    height: 120px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sort-options li {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: black;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #cf102d;
    text-decoration: none;
}
.profile-details{
    margin-top: 30px;
    border: 2px solid var(--dark-grey);
    border-radius: 5px;
    padding: 25px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

#author-affiliate {
    margin-top: 30px;
    border-radius: 5px;
    padding: 25px;
    border: 2px solid var(--dark-grey);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    width: 1000px;
}

#author-affiliate .profile-row label{
    width: 100px;
}
.profile-row {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-row label {
    width: 250px;
    font-weight: bold;
}

.profile-row input[type="text"] {
    border: none;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    height: 40px;
    box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.3);
}

.profile-row input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 2px 2px greenyellow;
}

#whole-page {
    width: 100%;
    height: 2000em;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

/* author-page */
#author-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    display: flex;
    flex-direction: row;
}

.edit-button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #cf102d;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 65px;
    transition: all 0.3s ease;
}

.edit-button:hover {
    border: solid;
    background-color: white;
    color: #cf102d;
    transition: all 0.3s ease;
    border-color: #cf102d;
}

.author-header {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    color:#cf102d;
}

#author-pubs {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    color:#cf102d;
}

/* AUTHOR AFFILIATIONS BUTTONS*/



#a-add-btn {
    height: 50px;
    width: 3.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    background: var(--blue);
    color: var(--light);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
    
}

#a-add-btn:hover {
    opacity: 80%;
}

.a-remove-btn {
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    padding: 0 20px;
    background: var(--primary);
    color: var(--light);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;

    
}
.a-remove-btn:hover {
    opacity: 80%;
}


.affiliation-main-menu {
    position: relative;
    display: inline-block;
  }
  
  
.affiliation-sub-menu {
position: absolute;
left: 3.5rem;
top: 0;
width: 10rem;
display: none;
background-color: var(--light);
border: 1px solid var(--dark);
margin-top: 10px;
}

.affiliation-sub-button {
display: block;
width: 100%;
border: none;
background-color: transparent;
cursor: pointer;
font-size: 1rem;

}

.affiliation-sub-button:hover {
    background-color: rgb(185, 185, 192);
}

.affiliation-main-menu:hover .affiliation-sub-menu {
    display: block;
}



/*AFFILIATION DESIGN*/

.author-table-container {
    width: 100%;
}

.author-table-container table {
    border: 1px solid var(--dark-grey);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.author-table-container table tr td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 20px;
    margin-bottom: 10px;
}

.aff-info{
    flex-grow: 1;
    flex-basis: 200px;
}

.aff-categ {
    flex: 2;
    width: 180px;
}

.form-control {
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
}

.form-control label {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
}

.form-control input[type="text"] {
    height: 50px;
    padding: 10px 36px 10px 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--dark-grey);
    transition: all 0.3s ease;
}

.form-control select {
    height: 50px;
    padding: 10px 36px 10px 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--dark-grey);
    transition: all 0.3s ease;
}

.form-control input[type="text"]:focus,
.form-control select:focus {
    box-shadow: 0 0 0 4px var(--light-blue);
}