@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.container {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
  }

.navbar-container {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #e1dada;
    /* background-color: #ffffff; */
  }

/* RED NAVBAR */
/* 3 layers */

.navbar-container .left {
  border-bottom: 143px solid #cf0b0c;
  border-left: 0px solid transparent;
  border-right: 95px solid transparent;
  width: 625px;
  margin-right: -35px;
  transform: scaleY(-1);
  margin-top: 4px;
} 
.navbar-container .left .left-md-container {
  width: 620px;
  border-bottom: 138px solid #f1f1f1;
  border-left: 0px solid transparent;
  border-right: 92px solid transparent;
  height: 20px;
  margin-top: 6px;
  position: relative;
}
.navbar-container .left-md-container .left-sm-container {
  width: 613px;
  height: 20px;
  border-bottom: 131px solid #cf0b0c;
  border-left: 0px solid transparent;
  border-right: 87px solid transparent;
  padding-bottom: 4px;
  position: relative;
}



/* left contents */
.navbar-container .left-sm-container .left-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 28px;
  transform: scaleY(-1);
  padding-bottom: 70px;
}
.navbar-container .left-sm-container .left-content .logo {
    width: auto;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-container .left-content .logo img {
    width: 100%;
    height: 100%;
}

/* batstate-u texts */
.navbar-container .left-content .header-title {
    height: 100px;
}
.navbar-container .left-content .header-title h4 {
    font-family: 'Playfair Display', serif;
    color: var(--light);
    font-size: 50px;
    letter-spacing: 1.5px;
}
.navbar-container .left-content .header-title p {
    color: var(--light);
    font-size: 14px;
    letter-spacing: 1px;
}



/* GRAY NAVBAR */
/* 3 layers */
.navbar-container .right {
    width: 100%;
    border-bottom: 143px solid #555555;
    border-left: 95px solid transparent;
    border-right: 0px solid transparent;
    margin-left: -55px;
    margin-bottom: 4px;
    padding: 2px;
}


.navbar-container .right .right-content {
  height: 150px;
  right: 0;
  margin-right: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3;
}
 
.navbar-container .right-content .signin-btn {
    background: var(--primary);
    width: 110px;
    height: 30px;
    text-align: center;
    padding: 5px 10px 0px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.navbar-container .right-content .signin-btn:hover {
    opacity: 80%;
}

.navbar-container .right-content ul {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1212px){ /* tablet resolution */
  .navbar-container .right-content ul {
    display: none;
  }
}

@media screen and (min-width: 1212px) {
  .device {
    display: none;
  }
}

.navbar-container .right-content .nav-links li {
    list-style-type: none;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-container .right-content a {
    text-decoration: none;
    color: var(--light);
    letter-spacing: 1px;
    font-weight: 400;
    position: relative;
    display: block;
}

.navbar-container .right-content .nav-links a:not(.signin-btn)::before,
.navbar-container .right-content .nav-links a:not(.signin-btn)::after, 
.dropdown a::before,
.dropdown a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--light);
    height: 2px;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.navbar-container .right-content .nav-links a:not(.signin-btn)::before,
.dropdown a::before,
.dropdown a::after{
    top: -3px;
    transform-origin: left;
}

.navbar-container .right-content .nav-links a:not(.signin-btn)::after,
.dropdown a::before,
.dropdown a::after {
    bottom: -3px;
    transform-origin: right;
}

.navbar-container .right-content .nav-links > li > a:hover::before ,
.navbar-container .right-content .nav-links > li > a:hover::after , 
.navbar-container .right-content .nav-links > li > a.active::before,
.navbar-container .right-content .nav-links > li > a.active::after
 {
    transform: scaleX(1);
}

.dropdown a:hover::before,
.dropdown a:hover::after{
    transform: scaleX(1);
}


/* dropdown settings */
/* .nav {
  position: fixed;
  top: 0;
  height: 100%;
  transition-property: left, width;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
  background-color: #e2d2d2;
  width: 85%;
  z-index: 10;
}

@media (min-width: 640px) {
  .nav {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .nav {
    width: 45%;
  }
}

.no-nav {
  position: fixed;
  left: -200%;
  top: 0;
  padding: 1rem;
  transition-property: left;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
} */



.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #FFF ;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all .375s;
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
 content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #FEDC2A;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all .275s .1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 93%; /* Should be 100%, but we have a notice message :D */
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav a{
  color: #cf0b0c;
}

.main-nav li {
  display: block;
  margin: .5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
.main-nav li:nth-child(1) a {
transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
list-style: none;
padding: 0;
}
.main-nav a {
display: block;
padding: 12px 0;
color: #5A3B5D;
font-size: 1.4em;
text-decoration: none;
font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
position: absolute;
top: 15px;
padding-top: 20px;
right: 15px;
z-index: 1000;
background: none;
border: 0;
cursor: pointer;
}
.open-main-nav:focus {
outline: none;
}
.burger {
position: relative;
display: block;
width: 28px;
height: 4px;
margin: 0 auto;
background: #5A3B5D;
transform: skew(5deg);
transition: all .275s;
}

.burger:after,
.burger:before {
content: '';
display: block;
height: 100%;
background: #5A3B5D;
transition: all .275s;
}

.burger:after {
transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */

.burger-text {
display: block;
font-size: .675rem;
letter-spacing: .05em;
margin-top: .5em;
text-transform: uppercase;
font-weight: 500;
text-align: center;
color: #5A3B5D;
}

.device {
position: relative;
width: 345px;
height: 600px;
background: #FFF;
border: 1px solid #EEE;
border-radius: 3px;
box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}

.container {
position: absolute;
top: 0; right: 0;
bottom: 0; left: 0;
overflow: hidden;
background: linear-gradient(to bottom, #eee, #ddd);
}