.DocuDisplayPage {
    background: var(--grey);
    position: relative;
    overflow-x: hidden;
}

.DocuDisplayPage #main-content {
    position: relative;
    padding: 0;
    padding: 20px 10px;
    background: var(--grey);
}

.DocuDisplayPage #main-content .table-container {
    width: 90%;
    height:60%;
    margin: auto;
    background: var(--light);
    border-radius: 5px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

@media screen and (min-width: 790px) and (max-width: 1023px){ /* tablet resolution */
    .DocuDisplayPage #main-content .table-container {
        width: 95%;
    }
}

.DocuDisplayPage #main-content .page-title {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.DocuDisplayPage #main-content .page-title h3 {
    letter-spacing: 1px;
    font-size: 30px;
    color: var(--text-color);
    position: relative;
    text-transform: uppercase;
}

.DocuDisplayPage #main-content .page-title h3::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    width: 60%;
    height: 3px;
    bottom: -4px;
    border-radius: 5px;
}

.DocuDisplayPage #main-content .header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light);
    padding: 10px;
}
@media screen and (max-width: 789px){ /* phone resolution */ 
    .DocuDisplayPage #main-content .header {
        flex-direction: column;
    }
}
.DocuDisplayPage #main-content .header .left {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.DocuDisplayPage #main-content .header .left h4 {
    color: var(--text-color);
    font-size: 26px;
    letter-spacing: 0.5px;
    font-weight: 600;
}
@media screen and (max-width: 789px){ /* phone resolution */ 
    .DocuDisplayPage #main-content .header .left {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 10px;
        
    }
}

.DocuDisplayPage #main-content .header .right {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 789px){ /* phone resolution */ 
    .DocuDisplayPage #main-content .header .right {
        width: 100%;
        padding: 5px 0px 5px 0px;
        justify-content: center;
    }
}

.DocuDisplayPage #main-content .header .right .form-control {
    position: relative;
}

.DocuDisplayPage #main-content .header .right .form-control input {
    width: 400px;
    height: 40px;
    background: var(--light);
    border-radius: 5px;
    border: 2px solid var(--dark-grey);
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 790px) and (max-width: 1023px){ /* tablet resolution */
    .DocuDisplayPage #main-content .header .right .form-control input {
        width: 300px;
    }
}
@media screen and (max-width: 789px){ /* phone resolution */ 
    .DocuDisplayPage #main-content .header .right .form-control input {
    width: 200px;
    }
}

.DocuDisplayPage #main-content .header .right .form-control .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--bg-grey);
}

.DocuDisplayPage #main-content .header .right .form-control input:focus {
    border: none;
    box-shadow: 0 0 0 4px var(--light-blue);
}

.DocuDisplayPage #main-content .header .sort-btn button,
.DocuDisplayPage #main-content .header .filter-btn button {
    height: 40px;
    width: 120px;
    border: 2px solid var(--dark-grey);
    border-radius: 5px;
    background: var(--light);
    cursor: pointer;
    color: var(--text-color);
    letter-spacing: 0.5px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.DocuDisplayPage #main-content .header .sort-btn button:hover,
.DocuDisplayPage #main-content .header .filter-btn button:hover {
    background: var(--dark-grey);
}

.DocuDisplayPage #main-content .header .sort-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DocuDisplayPage #main-content .header .sort-btn .sort-links {
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    width: 120px;
    background: var(--light);
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    border: 2px solid var(--dark-grey);
}

.DocuDisplayPage #main-content .header .sort-btn .sort-links.show {
    top: calc(100%);
    opacity: 1;
    pointer-events: visible;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.DocuDisplayPage #main-content .header .sort-btn .sort-links li {
    list-style-type: none;
}

.DocuDisplayPage #main-content .header .sort-btn button .icon,
.DocuDisplayPage #main-content .header .filter-btn button .icon {
    margin-right: 5px;
}

.DocuDisplayPage #main-content .header .sort-btn .sort-links li a {
    display: block;
    padding: 6px 16px;
    font-size: 12px;
    color: var(--dark);
    transition: all 0.3s ease;
    text-decoration: none;
}

.DocuDisplayPage #main-content .header .sort-btn .sort-links li a:hover {
    background: var(--grey);
}

.DocuDisplayPage #main-content .header .filter-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DocuDisplayPage #main-content .header .filter-btn .filter-options {
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    width: 120px;
    background: var(--light);
    border-radius: 5px;
    padding: 3px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    border: 2px solid var(--dark-grey);
}

.DocuDisplayPage #main-content .header .filter-btn .filter-options.show {
    top: calc(100%);
    opacity: 1;
    pointer-events: visible;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.DocuDisplayPage #main-content .header .filter-btn .filter-options p {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.DocuDisplayPage #main-content .header .filter-btn .filter-options form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.DocuDisplayPage #main-content .header .filter-btn .filter-options form input[type='submit'] {
    background: var(--accent);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    color: var(--light);
    letter-spacing: 1px;
}

.DocuDisplayPage #main-content .header .filter-btn .filter-options form .icon {
    position: absolute;
    right: 5px;
    font-size: 18px;
    top: 2px;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 600;
}

.DocuDisplayPage #main-content .header .filter-btn .form-control {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.DocuDisplayPage #main-content .header .filter-btn .form-control label,
.DocuDisplayPage #main-content .header .filter-btn .checkbox-control label {
    font-size: 13px;
    font-weight: 400;
    color: var(--text-color);
}

.DocuDisplayPage #main-content .header .filter-btn .checkbox-control {
    display: flex;
    align-items: center;
    gap: 5px;
}

.DocuDisplayPage #main-content .header .filter-btn .form-control input[type="text"] {
    width: 105px;
    height: 30px;
}

.DocuDisplayPage #main-content .header .filter-btn .form-control input[type="text"]:focus {
    box-shadow: 0 0 0 2px var(--light-blue);
}

.DocuDisplayPage #main-content .table {
    border: 2px solid var(--dark-grey);
    height: calc(100% - 80px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow-y: scroll;
}

.DocuDisplayPage #main-content .table table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.DocuDisplayPage #main-content .table table, th, td {
    border-collapse: collapse;
    border-bottom: 0.5px solid var(--dark-grey);
}

.DocuDisplayPage #main-content .table table tbody tr {
    cursor: pointer;
    transition: all 0.1s ease;
}

.DocuDisplayPage #main-content .table table tbody tr:hover {
    background: var(--grey);
}

.DocuDisplayPage #main-content .table table thead tr th {
    position: sticky;
    top: 0;
    font-size: 14px;
    padding: 20px;
    text-align: center;    
    background: var(--grey);
    z-index: 100;
}


.DocuDisplayPage #main-content .table table tbody td {
    font-size: 11px;
    top: 0;
    font-size: 13px;
    padding: 10px 10px;
    text-align: center;
    min-height: 180px;
}

.css-tr:hover {
    background: var(--grey);
    cursor: pointer;
}



.DocuDisplayPage #main-content .table-footer {
    border: 2px solid var(--dark-grey);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--grey);
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.DocuDisplayPage #main-content .table-footer .total-articles {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
}

/* Pagination */

.DocuDisplayPage #main-content .table-footer .pagination {
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    grid-gap: 5px;
}

.DocuDisplayPage #main-content .table-footer .pagination li {
    list-style-type: none;
}

.DocuDisplayPage #main-content .table-footer .pagination li a {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: 2px solid var(--grey);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    color: var(--dark);
    flex-wrap: wrap;
    background: var(--light);
}

.DocuDisplayPage #main-content .table-footer .pagination li a  .icon {
    font-size: 20px;
}

.DocuDisplayPage #main-content .table-footer .pagination li a:hover {
    background: var(--grey);
}

.DocuDisplayPage #main-content .table-footer .pagination .current-page {
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--dark);
    padding: 8px 30px;
    border: 2px solid var(--grey);
    border-radius: 2px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    cursor: text;
}
