.SignUpPage {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.SignUpPage #whole_page {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  zoom: 0.8;
}

.SignUpPage #background{
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: fixed;
  background-size: auto;
  background-position: center;
}


@media screen and (max-width: 767px){ /* phone resolution */
  .SignUpPage .bsuLogo2{
    display: none;
  }
}

.SignUpPage #signup-container {
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 600px;
  height: 800px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.SignUpPage #container-header {
  background-color: #cf102d;
  height: 100px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SignUpPage #h2Login {
  margin-top: 45px;
  color: white;
}
@media screen and (max-width: 767px){ /* phone resolution */
  .SignUpPage #signup-container {
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 390px;
    height: 650px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  .SignUpPage #container-header {
    background-color: #cf102d;
    height: 50px;
  }
  .SignUpPage #h2Login {
    margin-top: 15px;
    color: white;
  }
}


.SignUpPage #whole-page h1 {
  font-size: 23px;
  color: white;
}

.SignUpPage #user_input {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
@media screen and (max-width: 767px){ /* phone resolution */
  .SignUpPage #user_input {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
}

.SignUpPage #form-container {
  margin-right: 1000px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
    padding-bottom: -20px;
}

.SignUpPage .labelSubHeader {
  font-size: 0.75rem;
  font-weight: bold;
  color: gray;
  margin-bottom: 2px;
}

.SignUpPage #labelSignUp {
  text-align: center;
  font-size: medium;
}

@media screen and (max-width: 767px){ 
  .SignUpPage .labelSubHeader {
    margin-left: 15px;
    margin-top: -15px;
    transform: translate(3%, 80%);
  }

}
.SignUpPage #email,
.SignUpPage .passwordInput,
.SignUpPage #confirmPasswordInput,
.SignUpPage #srcode {
  height: 50px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 767px){ /* phone resolution */
  .SignUpPage #email,
  .SignUpPage .passwordInput,
  .SignUpPage #confirmPasswordInput,
  .SignUpPage #srcode {
    width: 360px;
    transform: translate(3%, 20%);
  }
}

/* .SignUpPage #email:hover,
.SignUpPage .passwordInput:hover,
.SignUpPage #confirmPasswordInput:hover,
.SignUpPage #srcode:hover {
  height: 50px;
  border-style: solid;
  background-color: #f9f9f9;
  border-radius: 5px;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  border-color: greenyellow;
  transition: all 0.3s ease-out;
} */
@media screen and (max-width: 767px){ 
/* .SignUpPage #email:hover,
.SignUpPage .passwordInput:hover,
.SignUpPage #confirmPasswordInput:hover,
.SignUpPage #srcode:hover {
  height: 50px;
  border-style: solid;
  background-color: #f9f9f9;
  border-radius: 5px;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  transition: all 0.3s ease-out;
  display: none;
  } */
.SignUpPage #labelSignUp {
  text-align: center;
  font-size: medium;
}}

.SignUpPage .user-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SignUpPage .labelSubHeader2 {
  font-size: 0.75rem;
  font-weight: bold;
  color: gray;
  margin-bottom: 2px;
  display: block;
}
@media screen and (max-width: 767px){ 
  .SignUpPage .labelSubHeader2 {
    margin-left: 15px;
    margin-top: -15px;
    transform: translate(3%, 80%);
  }
  .SignUpPage #labelSignUp {
    font-size: small;
    margin-top: 1px;
  }
}
.SignUpPage #mName,
.SignUpPage #lName {
  height: 50px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  width: 195px;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 767px){ /* phone resolution */
.SignUpPage #mName,
.SignUpPage #lName {
  height: 50px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  width: 200px;
  transition: all 0.3s ease-out;
  transform: translate(0%, 20%);
  width: calc(80% - 1px);
  margin-right: 10.5px; 
  margin-left: 10.5px; 
 }
}

.SignUpPage #fName {
  height: 50px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 767px){ /* phone resolution */
  .SignUpPage #fName {
    width: 360px;
    transform: translate(3%,20%);
  }
}

/* .SignUpPage #mName:hover,
.SignUpPage #lName:hover {
  height: 50px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  width: 195px;
  border-color: greenyellow;
  transition: all 0.3s ease-out;
} */
@media screen and (max-width: 767px){ /* phone resolution */
/* .SignUpPage #mName:hover,
.SignUpPage #lName:hover {
  height: 0;
  background-color: #f9f9f9;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  width: 0x;
  border-color: greenyellow;
  transition: all 0.3s ease-out;
  } */
}
/* #fName:hover {
  height: 50px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
} */
@media screen and (max-width: 767px){ /* phone resolution */
  /* #fName:hover {
    height: 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
  } */
}
.SignUpPage .password-container {
  display: flex;
  flex-direction: row;
}

.SignUpPage #passwordToggle,
.SignUpPage #passwordToggle2 {
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  color: gray;
}

.SignUpPage input[type="button"] {
  background-color: #cf102d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 767px){ /* phone resolution */
  .SignUpPage input[type="button"] {
    background-color: #cf102d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-out;
    width: 100px;
    height: 40px;
    transform: translate(140%, 0%);
    font-size: 15px;
    margin-top: 10px; 
    margin-bottom: -10px; 
  }
}
/* .SignUpPage input[type="button"]:hover {
  background-color: #cf102d;
  color: white;
  transition: all 0.3s ease-out;
  opacity: 0.7;
} */

.SignUpPage #a_SignUp {
  font-weight: bold;
  color: blue;
}

/* .SignUpPage #a_SignUp:hover {
  font-weight: bold;
  color: #cf102d;
} */

.SignUpPage #passwordTooltip,
.SignUpPage #emailTooltip {
  font-size: 12px;
}

.SignUpPage .toggle-password2 {
  margin-top: 17px;
  margin-left: -30px;
  position: absolute;
  cursor: pointer;
}
@media screen and (max-width: 767px){ /* phone resolution */
  .SignUpPage .toggle-password2 {
    margin-top: 30px;
    margin-left: -20px;
  }
}

/* MOdal */

/* The Modal (background) */
.SignUpPage .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: -1000em;
  top: -1000em;
  width: 2000em;
  /* Full width */
  height: 2000em;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box with animation*/
.SignUpPage .modal-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 400px;
  height: 470px;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -200px;
  border-radius: 10px;
  animation: slide-in 0.3s ease-out;
}

/* modal animation */
@keyframes slide-in {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.SignUpPage .modal-container.fade-out {
  animation: slide-out 0.3s ease-in;
}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-50%);
    opacity: 0;
  }
}

/* modal header */

.SignUpPage #modal-header {
  background-color: #cf102d;
  height: 70px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: center;
  /* center the content horizontally */
  align-items: center;
  /* center the content vertically */
  position: absolute;
  width: 400px;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 1;
}

.SignUpPage #btnSubmit {
  background-color: #cf102d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 40px;
  width: 300px;
  position: relative;
}

.SignUpPage #btnSubmit:hover {
  background-color: #cf102d;
}

.SignUpPage #userSrCode {
  width: 300px;
  border: 2px solid white;
  padding: 10px;
  font-size: 12px;
  line-height: 1.5;
  color: white;
  background-color: #cf102d;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.SignUpPage #userEmailAddressInput,
.SignUpPage #userFullName {
  width: 300px;
  border: 2px solid white;
  padding: 10px;
  font-size: 12px;
  line-height: 1.5;
  color: white;
  background-color: #cf102d;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* The Close Button */
.SignUpPage .close {
  color: #aaa;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  padding-right: 10px;
  top: 0;
  right: 0;
  z-index: 2;
}

.SignUpPage .close:hover,
.SignUpPage .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
}

.SignUpPage #otpVerification {
  width: 300px;
  height: 40px;
  border: 2px solid gray;
  background-color: lightgray;
  padding-left: 10px;
  padding-right: 10px;
  color: #cf102d;
}

.SignUpPage #otpVerification:hover,
.SignUpPage #otpVerification:focus {
  width: 300px;
  height: 40px;
  border: 2px solid greenyellow;
  background-color: lightgray;
  padding-left: 10px;
  padding-right: 10px;
}

.SignUpPage #sendOtpLink {
  font-size: small;
  width: 300px;
  border: solid 2px #cf102d;
  color: #cf102d;
  background-color: White;
  transition: all 0.3s ease-out;
  font-weight: bold;
}

.SignUpPage #sendOtpLink:hover {
  font-size: small;
  width: 300px;
  border: none;
  color: white;
  background-color: #cf102d;
  border: solid 2px #cf102d;
  transition: all 0.3s ease-out;
  font-weight: bold;
}
