main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  main .header .left .addBtn {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    background: green;
    color: var(--light);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100px;
  }
  
  main .header .addBtn .icon {
    font-size: 20px;
    transition: all 0.5s ease;
  }
  
  main .header .addBtn:hover {
    opacity: 50%;
  }
  
  main .header .left {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    grid-gap: 5px;
    flex-wrap: wrap;
  }
  
  .dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .filter_dd {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .filter_dd:hover .dropdown-content {
    display: block;
  }
  
  .filter_dd:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  main .header .left .filter button {
    height: auto;
    min-width: 130px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    color: var(--text-color);
  }
  
  main .header .left .filter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main .header .filter {
    position: relative;
    display: inline-block;
  }
  
  main .header .filter .filter-link {
    position: absolute;
    top: calc(100% - 10px);
    right: 0;
    width: 130px;
    background: var(--light);
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    list-style-type: none;
  }
  
  main .header .filter .filter-link.show {
    top: calc(100%);
    opacity: 1;
    pointer-events: visible;
    display: inline-block;
    margin-top: 5px;
  }
  
  main .header .filter .filter-link a {
    text-decoration: none;
    display: block;
    padding: 6px 16px;
    font-size: 12px;
    color: var(--dark);
    transition: all 0.3s ease;
  }
  
  main .header .filter .filter-link a:hover {
    background: var(--grey);
  }
  
  main .header .left .filter button .icon {
    font-size: 18px;
  }
  
  main .header .left form {
    max-width: 400px;
    width: 100%;
  }
  
  main .header .left .form-group {
    position: relative;
  }
  
  main .header .left .form-group input {
    width: 100%;
    height: 100%;
    background: var(--light);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  main .left .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--dark-grey);
  }
  
  main .header .form-group input:focus {
    box-shadow: 0 0 0 4px var(--light-blue);
  }
  
  main .table-container {
    margin-top: 20px;
    height: calc(100vh - 250px);
    overflow: auto;
    background: var(--light);
    border-radius: 5px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
  }
  
  main .table-container table {
    width: 100%;
    table-layout: auto;
    min-width: 1000px;
    border-collapse: collapse;
  }
  
  main .table-container table,
  th,
  td {
    border-collapse: collapse;
    border-bottom: 2.5px solid var(--grey);
  }
  
  main table thead tr {
    background: var(--light);
  }
  
  main table thead tr th {
    position: sticky;
    top: 0;
    min-width: 150px;
    max-width: 200px;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    background: var(--light);
    z-index: 100;
    box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.1);
  }
  
  main table tbody td {
    font-size: 11px;
    top: 0;
    max-width: 200px;
    font-size: 13px;
    padding: 10px 10px;
    text-align: center;
    min-height: 180px;
  }
  
  main section .table-footer {
    height: 80px;
    width: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 20px;
    border-top: 1px solid var(--grey);
  }
  
  /* main section .table-footer {
      position: fixed; 
      bottom: 0;  
      left: 0; 
      width: 100%; 
      height: 80px; 
      background: var(--light); 
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 0 20px;
      border-top: 1px solid var(--grey); 
    } */
  
  main section .table-footer p {
    font-size: 15px;
    font-weight: 500;
  }
  
  main table .stickey-col {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.075);
    background: var(--grey);
  }
  
  main table .stickey-col-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 80px;
    padding: 10px;
    box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.1);
  }
  
  main table .pb-action-btns {
    display: flex;
    gap: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  main table .edit-btn,
  .delete-btn,
  .gdrive-btn {
    border: none;
    color: var(--light);
    height: 30px;
    font-size: 10px;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
  }
  
  .edit-btn:hover,
  .delete-btn:hover,
  .gdrive-btn:hover {
    opacity: 80%;
  }
  
  .gdrive-btn {
    background-color: var(--green);
  }
  .edit-btn {
    background-color: var(--blue);
  }
  
  .delete-btn {
    background-color: var(--danger);
  }
  main table tr td .icon {
    font-size: 10px;
  }
  
  .table-footer .pagination {
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    grid-gap: 5px;
  }
  
  .table-footer .pagination li a {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: 2px solid var(--grey);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    color: var(--dark);
    flex-wrap: wrap;
    background: var(--light);
  }
  
  .table-footer .pagination li a:hover {
    background: var(--grey);
  }
  
  .table-footer .pagination li .current-page {
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--dark);
    padding: 8px 30px;
    border: 2px solid var(--grey);
    border-radius: 2px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    cursor: text;
  }
  
  .table-footer .pagination li a .icon {
    font-size: 20px;
  }
  
  /*SELECT COLUMN*/
  .select-columns-btn {
    border: none;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 100%;
    background-color: var(--primary);
    color: white;
    font-size: 2rem;
    padding: 0.4rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: center;
  }
  .checkbox-button {
    width: 10.8%;
  }
  #checkbox-container {
    position: absolute;
    padding: 0.5rem 0rem 0.5rem 0rem;
    border-radius: 5px;
    background-color: var(--light);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    display: none;
  }
  .btn-container {
    position: relative;
    z-index: 101;
  }
  /*COLUMN*/
  input[type="checkbox"] {
    display: none;
  }
  
  label.checkbox-button {
    width: 12.85rem;
    display: inline-block;
    padding: 6px 12px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
  }
  
  label.checkbox-button:hover {
    color: var(--dark);
    background: var(--grey);
  }
  
  input[type="checkbox"]:checked + label.checkbox-button {
    color: var(--dark);
    border-left: 3px solid var(--primary);
    border-bottom: 3px solid var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    background: var(--grey);
  }
  input[type="checkbox"]:checked + label.checkbox-button:hover {
    color: var(--dark);
    background: var(--light);
  }
  
  main .table-footer .download {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
  }
  
  main .table-footer .download button {
    padding: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    background: var(--green);
    color: var(--light);
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  main .table-footer .download button:hover {
    opacity: 80%;
  }
  
  /*style for download modal */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1003; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  /*style for download modal */
  .modal-content1 {
    background-color: #fff;
    margin: 5% auto;
    /* margin-left: 30%; */
    padding: 30px;
    padding-top: 80px;
    width: 80%;
    height: 80%;
    text-align: center;
    border-radius: 10px;
    position: relative;
    opacity: 2;
  }
  .modal-content1 iframe {
    width: 100%;
    height: calc(100% - 5px); /* Subtract height of close button */
    /* border: 2px solid black; */
  }
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
    pointer-events: auto !important;
    color: black;
    height: 30px;
    font-weight: bold;
    font-size: 28px;
  }
  
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-img img {
    animation: load 2s ease-in-out infinite;
    width: 130px;
  }
  
  @keyframes load {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 50%;
    }
    100% {
      opacity: 100%;
    }
  }
  